<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>LyLink — {{ song.name }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.4/css/bulma.min.css" />
    <script type="module">
        import { JellyfinPlayback } from '/dist/jellyfinPlayback.js';
        let jelly = new JellyfinPlayback();
        let address = "{{ address }}";
        let token = "{{ token }}";
        jelly.setUp(address, token);
    </script>
    <script type="module" src="/dist/jellyfinPlayback.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure style="border-radius: 12px;" class="image is-128x128 has-background-grey-lighter">
                                <img id="cover-image" style="border-radius: 12px;" class="image is-128x128"
                                    src="{{ song.imageUrl }}" alt="{{ song.name }} cover">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p id="name" class="title is-4">{{ song.name }}</p>
                            <p class="subtitle is-6">{{ song.artist }}</p>

                            <progress id="progress-bar"
                                class="progress {{ song.is_playing ? 'is-primary' : 'is-warning' }}"
                                value="{{ progressPercent }}" max="100">{{ progressPercent }}%</progress>

                            {% set current = (song.duration * progressPercent) / 100 %}
                            {% set cur_min = (current / 60)|round(0, 'floor') %}
                            {% set cur_sec = (current - (cur_min * 60))|round(0, 'floor') %}
                            {% set total_min = (song.duration / 60)|round(0, 'floor') %}
                            {% set total_sec = (song.duration - (total_min * 60))|round(0, 'floor') %}
                            <div class="content">
                                <strong id="progress-time">{{ '%02d:%02d'|format(cur_min, cur_sec) }}</strong> /
                                <span id="total-time">{{ '%02d:%02d'|format(total_min, total_sec) }}</span>
                            </div>
                        </div>
                    </div>
                    {% if song.id != 0 %}
                    <div class="content">
                        <h3 class="title is-6">Lyrics</h3>
                        <div class="content">
                            {% for line in lyrics|split("\n") %}
                            {% if line|trim is empty %}
                            <line style="display: block; height: 1.33em;"></line>
                            {% else %}
                            <line
                                style="display: block; color: white; font-size: larger; line-height: 1.33em; overflow-wrap: anywhere;">
                                {{ line }}</line>
                            {% endif %}


                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div id="edit-container" class="content" hidden>
                        <a id="edit-btn" class="button is-link" href="/edit?id={{ song.id }}">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>